@page 
@model CheckoutModel
@{ ViewData["Title"] = "Checkout Complete"; }

@*<!--This file is auto generated from the .zml file.
Make cahnges only to the .zml file, and don't make any changes here,
because they will be overwritten when the .zml file changes.-->*@

<section class="esh-catalog-hero">
 <div class="container">
 <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
 </div>
</section>
<div class="container">
 <h1>Thanks for your Order!</h1>
 <a asp-page="/Index">Continue Shopping...</a>
</div>