@model BasketComponentViewModel"
@{ ViewData["Title"] = "My Basket"; }<a class="esh-basketstatus " asp-page="/Basket/Index"><div class="esh-basketstatus-image"><img src="~/images/cart.png" /></div><div class="esh-basketstatus-badge">
      @model.ItemsCount

@*<!--This file is auto generated from the .zml file.
Make cahnges only to the .zml file, and don't make any changes here,
because they will be overwritten when the .zml file changes.
If you want to format this file to review some blocks,
use the Edit\Advanced\Format Document from main menus. -->*@

  </div></a></zml>