@page 
  @model PrivacyModel

<!--This file is auto generated from the .zml file. Don't make any changes here.
If you want to format this file to review some blocks,
use the Edit\Advanced\Format Document from main menus. -->  @{ ViewData["Title"] = "Privacy Policy"; }
  <h1>
    @ViewData["Title"]
  </h1>
  <p>Use this page to detail your site's privacy policy.</p>