@page 
@model PrivacyModel
@{ ViewData["Title"] = "Privacy Policy"; }

@*<!--This file is auto generated from the .zml file.
Make cahnges only to the .zml file, and don't make any changes here,
because they will be overwritten when the .zml file changes.-->*@

<h1>
  @ViewData["Title"]
</h1>
<p>Use this page to detail your site's privacy policy.</p>