@{ ViewData["Title"] = "Locked out"; }

@*<!--This file is auto generated from the .zml file.
Make cahnges only to the .zml file, and don't make any changes here,
because they will be overwritten when the .zml file changes.-->*@

<header>
  <h2 class="text-danger">
    @ViewData["Title"]
  </h2>
  <p class="text-danger">This account has been locked out, please try again later.</p>
</header>